# Configuración de la APP.
APP_URL= # URL del dominio de la app.

# Configuración del servidor
SERVER_PORT= # Puerto de escucha del servidor
LOGGING_LEVEL_ROOT= # Nivel de log que se quiere  DEBUG ERROR FATAL INFO OFF TRACE WARN

# Database Postgres
DATASOURCE_URL= # URL format = jdbc:postgresql://{host}:{port}/{databasename}?
DATASOURCE_USERNAME= # Username de la base de datos
DATASOURCE_PASSWORD= # Password de la base de datos.
# update-->Actualiza o crea la base de datos si es necesario
# create-->Crea la base de datos si es necesario
# create-drop-->Eliminia y crea la base de datos si es necesario
SPRING_JPA_HIBERNATE_DDL-AUTO= #update, create, create-drop

# Telegram
TELEGRAM_CHATID= # ChatId al cual se van a enviar los mensajes automaticos.
TELEGRAM_GROUPID= # GrupoId al caul va a pertenecer el bot.
TELEGRAM_GROUPTITLE= # Nombre del grupo del cual el bot va a pertenecer

# Bot para Clientes
TELEGRAM_BOT_CLIENT_TOKEN= # Token del bot que va a actuar como cliente.
TELEGRAM_BOT_CLIENT_USERNAME= # Nombre del bot que va a actuar como cliente.

# Bot para Administradores
TELEGRAM_BOT_ADMIN_TOKEN= # Token del bot que va a actuar como administrador.
TELEGRAM_BOT_ADMIN_USERNAME= # Nombre del bot que va a actuar como administrador.

# Enciptacion de los datos
ENCRYPTION_KEY= # Clave mediante la cual se van a encriptar los datos sensibles en la base de datos.

# Scheduler 
# Esto es útil si estamos desplegando en servicios como render de forma gratis.
SCHEDULER_AUTO_SEND_MESSAGE_ACTIVE= # Activa o desactiva el servicio de tarea de enviar mensaje automaticamente.
SCHEDULER_AUTO_SEND_MESSAGE_TIME= # Tiempo en segundos entre el que se va a enviar los mensajes. Por defecto es 50.
SCHEDULER_AUTO_SEND_MESSAGE_MESSAGE= # Mensaje que se va a enviar.